
/*#maptitle {
  text-align:center;
}*/


#mapid { 
  height:500px; 
  width:800px;
}


.dropdown {
  position: relative;
}

/*
.navbar {
  background-color: #b4c157;
  color: white;
  border-radius: 0px;
} */

/*.sidebar {
  position: fixed;
  top: 0;
  padding-top:70px;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  /*color: white;
}*/

/* Style page content */

/*.main {
  margin-left: 200px;  Same as the width of the sidebar 
  padding: 0px 10px;
}*/



 


/*.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}*/


