{% extends 'base.html' %}


{% block head %} 

{% endblock %}

{% block body %}
    <div>

    <!-- List of hummingbird links-->
    <p><h3>View Hummingbird Sightings</h3></p>
         <br>

            {% for hum in humlist %}
                  <div class="hum-div">
	      <a href="/sightings/{{ hum.ebird_id }}">{{ hum.common_name }}</a>
                  </div>
            {% endfor %}

    </div>

    <!-- Bootstrap-related scripts, load before project-specific scripts.-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}



