{% extends 'base.html' %}
{% block head %} 

    <!-- Leaflet Stylesheet from Leaflet open-source JavaScript library-->
    <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet" 
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <!-- Leaflet JavaScript file. Script should be after Leaflet's CSS Stylesheet but imported before any code that depends on it -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

{% endblock %}
{% block body %}
   

    <div class="container-fluid">

      <div class="row flex-xl-nowrap">

        <!--column 2-->
        <div class="col-12 col-md-5 col-xl-4 bd-sidebar sidebar">
              <br>
                            
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View Sightings by Species
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                 {% for hum in humlist %}
                    <a class="dropdown-item" href="{{ url_for('show_sightings', ebird_id = hum.ebird_id)}} ">{{ hum.common_name }}</a>
                 {% endfor %}
              </div>
            </div>    


              <br>
              <br>
              <br>
              <!-- <span class="border"> -->
              <!-- License is CC0, url is: https://search.creativecommons.org/photos/5e1122d3-3c41-4e42-afa2-e4b740eca646 -->
              <!-- <a href="https://search.creativecommons.org/photos/5e1122d3-3c41-4e42-afa2-e4b740eca646"> -->
              <img src="static/img/realisticRecropped.jpg" class="img-fluid" alt="Image of hummingbird" id="hummingbird">
              <!-- </span> -->
              <!-- </a> -->
              <!-- <br> -->
              <!-- <br> -->
        </div> <!-- column 1 -->


    <!--column 2-->
    <div class="col-12 col-md-7 col-xl-8 mx-auto">
       
        <p><h3 id="maptitle" class="text-center">Where are the hummingbirds this month?</h3></p>

        <div id="mapid" class="img-fluid mx-auto">
        <script type="text/javascript">
            /* The JavaScript used for the Leaflet map below is from the Leaflet quickstart guide at https://leafletjs.com/examples/quick-start/. 
            I used their suggested sample code for a basic map and a basic circle marker, then used a Jinja loop to insert my own data. 
            Note: for the third arguement in .setView(), use smaller numbers to zoom out and higher numbers to zoom in. */
            let mymap = L.map('mapid').setView([10.70, -85.45], 2);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: "{{ OSM_ACCESS_TOKEN }}"
            }).addTo(mymap);

            /* Looping through my location coordinates using Jinja to insert them into the Leaflet sample code for a basic circle marker. 
            Circle size coorelates with the number of hummingbirds reported at each location.*/
            {% for latitude, longitude in lat_long_tuples_set %}
                L.circle(
                    [{{ latitude }}, {{ longitude }}], 
                    {
                      color: 'purple',
                      stroke: false,
                      fillColor: 'purple',
                      fillOpacity: 0.2,
                      radius: 20000,
                    }
                ).addTo(mymap);
            {% endfor %}

        </script>  
        </div> <!-- map div-->

    </div> <!--column 2-->
  

  </div> <!-- row -->

 </div> <!--container -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Bootstrap-related scripts, load before project-specific scripts.-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}



