{% extends 'base.html' %}

 
    
     

{% block body %}
    <div>
	<!-- Sighting information goes below-->
        <p><h3>{{ bird_object.common_name }} Sightings</h3></p>
          <h3>{{ bird_object.genus }} {{ bird_object.species }}</h3>
         <br>
         <br>
            {% for each_key in locationbird_dict.keys() %}

                  <div id="locbird-div" class="row">

	                     Location {{ each_key }} sightings: {{ locationbird_dict[each_key] }}
                                                             

                  </div>

            {% endfor %}


    </div>
{% endblock %}
