{% extends 'base.html' %}

    
     

{% block body %}
    <div>
	<!-- Sighting information goes below-->
        <p><h3>{{ bird_object.common_name }} Sightings</h3></p>
         <h3>{{ bird_object.genus }} {{ bird_object.species }}</h3>
         <br>
         <br>
            {% for current_dict in list_of_dicts %}

                  <div id="locbird-div" class="row">

	                     Latitude: {{ current_dict['latitude'] }}, Longitude: {{ current_dict['longitude'] }}, Country: {{ current_dict['country'] }},
                       {{ bird_object.common_name }} Total: {{ current_dict['this_species'] }}
                                                                                           
                  </div>

            {% endfor %}


    </div>
{% endblock %}