{% extends 'base.html' %}

{% block head %}      
    <!-- Leaflet Stylesheet from Leaflet open-source JavaScript library-->
    <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet" 
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <!-- Leaflet JavaScript file. Should be after Leaflet's CSS Stylesheet but import script before any code that depends on it -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
{% endblock %}

{% block body %}

        <div>
          <p><h3>Hummingbird Sightings</h3></p>
        </div> 

        <div id="mapid">
        <script type="text/javascript">
            /* The JavaScript used for the Leaflet map below is from the Leaflet quickstart guide at https://leafletjs.com/examples/quick-start/. 
            I used their suggested sample code for a basic map and a basic circle marker, then used a Jinja loop to insert my own data. 
            Note: for the third arguement in .setView(), use smaller numbers to zoom out and higher numbers to zoom in. */
            let mymap = L.map('mapid').setView([10.70, -85.45], 3);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: {{ OSM_ACCESS_TOKEN }}
            }).addTo(mymap);

            /* Looping through my location coordinates using Jinja to insert them into the Leaflet sample code for a basic circle marker. 
            Circle size coorelates with the number of hummingbirds reported at each location.*/
            let circle
            {% for current_dict in list_of_dicts %}
                circle = L.circle([{{ current_dict['latitude'] }}, {{ current_dict['longitude'] }}], {
                    color: 'purple',
                    fillColor: '#f03',
                    fillOpacity: 0.3,
                    radius: 100
                }).addTo(mymap);
            {% endfor %}
          

        </script>  
        </div>

{% endblock %}
