<!DOCTYPE html>
<html>
<head>

    <title>Hummingbird Quest</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">


    <!-- Leaflet Stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    
</head>


    <div>
	<!-- Sighting information goes below-->
        <p><h3>{{ bird_object.common_name }} Sightings</h3></p>
         <h3>{{ bird_object.genus }} {{ bird_object.species }}</h3>
        <br>
        <br>
        
        <div id="mapid">

                  {% for current_dict in list_of_dicts %}

                  <div id="locbird-div" class="row">

	                Latitude: {{ current_dict['latitude'] }}, Longitude: {{ current_dict['longitude'] }}, Country: {{ current_dict['country'] }},
                       {{ bird_object.common_name }} Total: {{ current_dict['this_species'] }}
                                                                     
                  </div>
          </div>        

            {% endfor %}


    </div>

 <!-- Leaflet JavaScript file, which must be placed after Leaflet's CSS Stylesheet -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>