<!DOCTYPE html>
<html>
    <head>
        <title>Hummingbird Quest</title>
        <meta charset="utf-8">  
        
        <!-- Leaflet Stylesheet from Leaflet open-source JavaScript library-->
        <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet" 
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <!-- Load project-specific stylesheet -->
        <link href="/static/styles.css" rel="stylesheet" type="text/css">

        <!-- Leaflet JavaScript file; must be placed after Leaflet's CSS Stylesheet -->
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    </head>
    <body>
        <div>
            <p><h3>{{ bird_object.common_name }} Sightings</h3></p>
            <p><h3>{{ bird_object.genus }} {{ bird_object.species }}</h3></p>
        </div>  
        <div id="mapid">
        <script type="text/javascript">
            /* The JavaScript used for the Leaflet map below is from the Leaflet quickstart guide at https://leafletjs.com/examples/quick-start/. 
            I used their suggested sample code for a basic map and a basic circle marker, then used a Jinja loop to insert my own data. */
            var mymap = L.map('mapid').setView([ {{ clat }}, {{ clong }}], 4);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1IjoiamVubmFjb25sZXkiLCJhIjoiY2s4N3RreXYzMDFsMzNrczQzb3BwMGdidiJ9.GjA283FLvntXD2Rgd1K4og'
            }).addTo(mymap);

            /* Looping through my location coordinates using Jinja to insert them into the Leaflet sample code for a basic circle marker. 
            Circle size coorelates with the number of hummingbirds reported at each location.*/
            {% for current_dict in list_of_dicts %}
                var circle = L.circle( [{{ current_dict['latitude'] }}, {{ current_dict['longitude'] }}], {
                    color: 'purple',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: {{ 200 * current_dict['circle_size'] }}
                }).addTo(mymap);
            {% endfor %}
        </script>  
        </div>
    </body>
</html>